<%= render 'layouts/header' %>

<%= render 'layouts/welcome' %>

<%= render 'layouts/eventos' %>

<%= render 'layouts/midias' %>

<%= render 'layouts/bio' %>

<%= render 'layouts/contact' %>
  <!-- Footer
============================================= -->
  <footer>
      <div class="container">
          <h1>Rise</h1>
          <div class="social">
              <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
              <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
          </div>
      </div>
  </footer>
